html, body {
    margin: 0; padding: 0;
    height: 100%;
    overflow: auto;
    background-color: white;
}

body.night {
    background-color: black;
}

/*
#lit_quote {

}
*/
#lit_quote em {
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-style: normal;
}

body.night #lit_quote em {
    color: rgb(217, 217, 217);
}

#main_text {
    width: 80vw;
    margin: auto;
    color: gray;
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 2.3vw;
}
cite #book{
    font-style: normal;
}

.footer {
    font-size: 10px;
    width: 50%;
    position: fixed;
    bottom: 2%;
    color: dimgray;
}

#credits {
    padding-left: 40px;
    padding-right: 0px;
}

#controls {
    padding-left: 0px;
    padding-right: 40px;
    right: 0;
    text-align: right;
}

a, a:visited {
    color: rgb(66, 66, 66);
}

body.night a, body.a:visited {
    color: rgb(187, 187, 187);
}


:-webkit-full-screen #credits {
    bottom: -10px;
}
:-moz-full-screen #credits {
    bottom: -10px;
}
:-ms-fullscreen #credits {
    bottom: -10px;
}
:fullscreen #credits {
    bottom: -10px;
}
